* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 2418px; }

/*currency begin*/
/*left-top begin*/
.left-top {
  width: 348px;
  height: 35px;
  border-bottom: 1px #e5e5e5 solid;
  background: white;
  margin-top: -1px;
  margin-bottom: 15px; }
  .left-top a:first-child {
    float: left;
    margin-left: -1px;
    background: white;
    border-bottom-color: white; }
    .left-top a:first-child strong {
      color: #e21c01; }
    .left-top a:first-child span i {
      border-top-color: #e21c01; }
  .left-top a {
    width: 171px;
    height: 33px;
    display: block;
    float: right;
    border: 1px #e5e5e5 solid;
    margin-top: 1px;
    margin-right: -1px;
    border-radius: 6px 6px 0 0;
    background: -webkit-linear-gradient(#ffffff, #fafafa, #f3f3f3); }
    .left-top a strong {
      width: 90px;
      height: 33px;
      display: block;
      float: left;
      line-height: 33px;
      text-align: right;
      font-weight: normal;
      font-size: 12px;
      color: #666666; }
    .left-top a span {
      width: 70px;
      height: 33px;
      float: left;
      display: block;
      text-align: left;
      font-size: 12px;
      line-height: 33px;
      color: #2b2d2d;
      padding: 0 5px;
      position: relative; }
      .left-top a span i {
        width: 0px;
        height: 0px;
        display: block;
        float: left;
        border: 5px #c1c1c1 solid;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        position: absolute;
        top: 14px;
        right: 10px; }
    .left-top a:hover {
      border-bottom-color: white;
      background: white; }
      .left-top a:hover strong {
        color: #e21c01; }
      .left-top a:hover span i {
        border-top-color: #e21c01; }

/*left-top end*/
/*top-title begin*/
.top-title {
  width: 100%;
  height: 14px;
  padding-top: 12px;
  margin-left: 14px;
  margin-bottom: 12px; }
  .top-title b {
    height: 14px;
    line-height: 14px;
    margin-right: 6px;
    display: block;
    float: left;
    font-size: 12px;
    color: #cc0d13;
    font-weight: normal; }
  .top-title strong {
    height: 14px;
    line-height: 14px;
    display: block;
    float: left;
    font-size: 12px;
    color: #010000;
    font-weight: normal; }
  .top-title i {
    width: 37px;
    height: 13px;
    display: block;
    float: right;
    background: url("../img/more.png");
    margin-right: 40px; }

/*top-title end*/
/*currency-li begin*/
.currency-li {
  width: 100%;
  height: 26px;
  border-bottom: 1px #e5e5e5 dotted; }
  .currency-li i {
    width: 3px;
    height: 3px;
    background: #d4051f;
    display: block;
    float: left;
    margin-left: 4px;
    margin-top: 12px;
    font-size: 12px;
    color: #c75d61; }
  .currency-li span {
    font-size: 12px;
    font-style: normal;
    color: #767676;
    height: 26px;
    line-height: 26px;
    padding: 0 7px; }
    .currency-li span em {
      height: 26px;
      line-height: 26px;
      color: #e21c01;
      font-style: normal; }
  .currency-li a {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    color: #010000; }

/*currency-li end*/
/*ipod begin*/
.ipod {
  width: 710px;
  height: 90px;
  background: url("../img/nano.png");
  margin: 10px 0; }

/*ipod end*/
/*currency end*/
.wrapper-center {
  width: 960px;
  height: 2418px;
  margin: 0 auto; }

/*header begin*/
.header {
  width: 960px;
  height: 30px;
  border-radius: 30px;
  background: -webkit-linear-gradient(#ffffff, #fcfcfc, #f8f8f8); }
  .header b {
    height: 30px;
    display: block;
    float: left;
    font-size: 12px;
    color: #666;
    padding: 0 16px 0 20px;
    line-height: 30px; }
  .header a:nth-child(2) {
    color: #d60d03; }
  .header a {
    width: 39px;
    height: 18px;
    display: block;
    float: left;
    border: 1px #e5e5e5 solid;
    margin-top: 4px;
    margin-right: 5px;
    font-size: 12px;
    color: #999;
    line-height: 18px;
    text-align: center;
    border-radius: 3px; }
    .header a:hover {
      color: #d60d03; }
  .header p {
    width: 200px;
    height: 30px;
    float: right; }
    .header p span {
      width: 85px;
      height: 30px;
      display: block;
      float: left;
      font-size: 12px;
      color: #666;
      text-indent: 20px;
      line-height: 30px;
      background: url("../img/icon1-top.png") no-repeat 0 8px; }
    .header p span:last-child {
      background: url("../img/icon2-top.png") no-repeat 0 9px; }
    .header p em {
      display: block;
      float: left;
      font-style: normal;
      padding: 0 8px 0 6px;
      font-size: 12px;
      color: #666;
      line-height: 30px; }

/*header end*/
/*nav begin*/
.nav {
  width: 960px;
  height: 90px;
  position: relative;
  font-size: 12px;
  color: #333;
  line-height: 30px;
  overflow: hidden; }
  .nav p {
    width: 310px;
    height: 90px;
    float: left;
    margin-left: 20px;
    overflow: hidden; }
    .nav p i {
      width: 50px;
      height: 90px;
      display: block;
      float: left;
      margin-right: 19px; }
      .nav p i img {
        width: 46px;
        width: 46px;
        display: block;
        padding-top: 10px; }
      .nav p i span {
        width: 46px;
        height: 20px;
        display: block;
        text-align: center;
        font-style: normal; }
    .nav p i:last-child {
      margin-right: 0; }
  .nav a {
    width: 223px;
    height: 62px;
    display: block;
    position: absolute;
    left: 368px;
    top: 10px;
    background: url("../img/logo.png"); }
  .nav div {
    width: 335px;
    height: 90px;
    float: right; }
    .nav div i:first-child {
      margin-left: 0; }
    .nav div i {
      width: 60px;
      height: 90px;
      float: left;
      display: block;
      margin-left: 3px; }
      .nav div i img {
        display: block;
        width: 46px;
        height: 46px;
        padding-top: 10px;
        padding-left: 2px; }
      .nav div i span {
        display: block;
        height: 20px;
        font-style: normal; }
    .nav div i:last-child {
      width: 60px;
      height: 90px;
      float: left;
      display: block;
      margin: 0 14px 0 11px; }
      .nav div i:last-child img {
        padding-left: 6px; }

/*nav end*/
/*search begin*/
.search {
  width: 960px;
  height: 125px; }

.search-bottom {
  width: 958px;
  height: 113px;
  border: 1px #dbdbdb solid;
  border-radius: 9px;
  margin-top: 8px;
  position: relative;
  background: -webkit-linear-gradient(#ffffff, #f7f7f7, #f5f5f5); }

.search-ul {
  width: 410px;
  height: 26px;
  float: left;
  margin-left: 227px;
  margin-top: -9px;
  overflow: hidden; }
  .search-ul li:first-child a {
    border-color: #c40d0e;
    border-bottom-color: #e21c01;
    background: #e21c01;
    color: white; }
  .search-ul li {
    margin-right: 1px;
    float: left; }
    .search-ul li a {
      width: 79px;
      height: 25px;
      display: block;
      float: left;
      border: 1px #eec8b8 solid;
      border-bottom-color: #c40d0e;
      border-radius: 6px 6px 0 0;
      font-size: 14px;
      background: white;
      color: #000;
      text-align: center;
      line-height: 25px; }
      .search-ul li a:hover {
        border-color: #c40d0e;
        border-bottom-color: #e21c01;
        background: #e21c01;
        color: white; }

.search-form {
  display: block;
  position: absolute;
  top: 35px;
  left: 225px;
  overflow: hidden; }
  .search-form input {
    width: 395px;
    height: 22px;
    display: block;
    float: left;
    border: none;
    border-radius: 6px;
    background: #fff1ef;
    font-size: 12px;
    padding: 0 5px;
    margin-right: 10px; }
  .search-form a {
    width: 63px;
    height: 26px;
    display: block;
    float: left;
    background: url("../img/search.png");
    margin-right: 8px; }

.search-p {
  width: 958px;
  height: 64px;
  border: 1px #c40d0e solid;
  background: #e21c01;
  margin-top: 16px;
  border-radius: 9px; }
  .search-p img {
    display: block;
    float: left;
    position: absolute;
    left: 22px;
    top: -3px; }

.search-span {
  width: 210px;
  height: 40px;
  float: left; }
  .search-span span {
    font-size: 12px;
    float: left;
    display: block;
    color: white;
    margin-bottom: 7px;
    margin-top: -4px; }

.upde {
  width: 405px;
  height: 15px;
  margin-top: 10px;
  margin-left: 225px;
  overflow: hidden; }
  .upde span {
    width: 50px;
    height: 17px;
    display: block;
    float: left;
    background: url("../img/update.png") no-repeat;
    margin-right: 10px; }
  .upde b {
    width: 26px;
    display: block;
    float: left;
    font-size: 12px;
    color: #d30703;
    line-height: 13px;
    font-weight: normal;
    margin-right: 3px; }
  .upde em {
    width: 47px;
    display: block;
    float: left;
    font-size: 12px;
    color: #999;
    font-style: normal;
    line-height: 15px; }
  .upde strong {
    display: block;
    float: left;
    width: 240px;
    font-size: 12px;
    color: #000;
    font-weight: normal;
    line-height: 17px; }
  .upde i {
    width: 10px;
    display: block;
    float: right; }
    .upde i a {
      display: block;
      width: 0;
      height: 0;
      border-bottom: 6px #ca0309 solid;
      border-left: 4px white solid;
      border-right: 4px white solid; }
    .upde i a:last-child {
      margin-top: 2px;
      border-top: 6px #ca0309 solid;
      border-bottom: 0px; }

/*search end*/
/*wrapper-left begin */
.wrapper-left {
  width: 710px;
  height: 2040px;
  float: left; }

/*hot begin*/
.hot {
  width: 710px;
  height: 420px;
  margin-bottom: 10px; }

.hot1 {
  width: 318px;
  height: 398px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px; }

/*hot-left begin*/
.hot-left {
  float: left;
  padding: 10px 15px; }
  .hot-left p {
    width: 180px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    color: #d90000;
    background: url("../img/play.png") no-repeat 104px 0; }
  .hot-left a {
    width: 318px;
    height: 285px;
    display: block;
    margin-top: 8px;
    background: url("../img/redthunder.png"); }
  .hot-left img {
    width: 64px;
    height: 63px;
    display: block;
    float: left;
    margin-top: 14px; }
  .hot-left ul {
    width: 240px;
    height: 60px;
    float: left;
    margin-top: 18px;
    margin-left: 10px; }
    .hot-left ul li {
      width: 240px;
      height: 11px;
      margin-bottom: 9px; }
      .hot-left ul li em {
        display: block;
        width: 2px;
        height: 3px;
        float: left;
        background: #d20f02;
        margin: 6px 2px 6px 0; }
      .hot-left ul li span {
        width: 215px;
        height: 11px;
        display: block;
        float: left;
        font-size: 12px;
        color: #4d4d4d;
        margin-left: -1px; }

/*hot-left end*/
/*hot-right begin*/
.hot-right {
  width: 348px;
  height: 418px;
  float: right;
  position: relative; }

.hot-em {
  width: 37px;
  height: 13px;
  display: block;
  background: url("../img/more.png");
  position: absolute;
  bottom: 10px;
  right: 18px; }

.hot-shop-i {
  width: 42px;
  height: 43px;
  display: block;
  position: absolute;
  background: url("../img/save.png");
  top: 116px;
  left: 84px; }

.hot-shop {
  width: 297px;
  height: 108px;
  float: right;
  position: relative;
  background: url("../img/linearbg.png");
  margin: 0 14px 6px; }
  .hot-shop img {
    display: block;
    float: left;
    margin-left: -28px;
    margin-top: 10px;
    margin-right: 20px; }
  .hot-shop p {
    width: 155px;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 12px;
    color: #bb0d0d;
    margin-top: 10px;
    margin-bottom: 3px; }
  .hot-shop b {
    width: 43px;
    height: 44px;
    display: block;
    float: left;
    background: url("../img/hot.png"); }
  .hot-shop span {
    display: block;
    width: 150px;
    height: 16px;
    display: block;
    float: left;
    line-height: 16px;
    font-size: 12px;
    color: #6e6e6e; }

/*hot-right end*/
/*hot end*/
/*new begin*/
.new {
  width: 710px;
  height: 500px;
  margin-bottom: 10px; }

.new1 {
  width: 348px;
  height: 498px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px; }

/*new-left begin*/
.new-left {
  float: left; }

.lucky {
  width: 348px;
  height: 74px;
  background: url("../img/lucky.png");
  margin-top: -1px; }
  .lucky p {
    width: 100px;
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    overflow: hidden; }
    .lucky p b {
      display: block;
      height: 10px;
      font-size: 12px;
      color: #ea2b31;
      font-weight: normal; }
    .lucky p span {
      height: 23px;
      display: block;
      font-size: 23px;
      color: #333; }
  .lucky h3 {
    width: 120px;
    height: 30px;
    float: left;
    font-size: 36px;
    margin-top: 18px;
    color: #e21c01;
    font-weight: normal; }

.today {
  width: 300px;
  height: 84px;
  margin-top: 13px;
  margin-left: 23px;
  overflow: hidden; }
  .today img {
    width: 84px;
    height: 84px;
    display: block;
    float: left;
    margin-right: 12px; }
  .today em {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    background: url("../img/month.png"); }
  .today em:nth-child(3) {
    background: url("../img/date.png");
    margin-right: 4px; }
  .today span {
    width: 103px;
    height: 30px;
    display: block;
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #333; }
  .today p {
    width: 200px;
    height: 60px;
    float: left;
    font-size: 12px;
    color: #4d4d4d; }

.new-table {
  width: 299px;
  height: 286px;
  margin-top: 20px;
  margin-left: 25px; }
  .new-table thead {
    background: -webkit-linear-gradient(#f7f7f6, #fcfcfc, #ffffff); }
    .new-table thead tr th {
      width: 42px;
      height: 34px;
      font-size: 14px; }
  .new-table tbody tr {
    margin-bottom: 2px; }
    .new-table tbody tr td {
      width: 36px;
      height: 40px;
      background: #ededed;
      text-align: center; }
  .new-table tbody tr:last-child {
    background: #f8f8f8; }

/*new-left end*/
/*new-right begin*/
.new-right {
  float: right; }

.best {
  width: 348px;
  height: 70px; }
  .best p {
    width: 114px;
    height: 70px;
    float: left; }
    .best p span {
      width: 111px;
      height: 12px;
      float: left;
      display: block;
      font-size: 12px;
      color: #ea2b31;
      text-align: right;
      padding-right: 3px;
      margin-bottom: 3px;
      margin-top: 20px; }
    .best p b {
      width: 114px;
      height: 24px;
      float: left;
      display: block;
      font-size: 24px;
      color: #333;
      text-align: right; }
  .best img {
    width: 169px;
    height: 52px;
    display: block;
    float: left;
    margin-top: 10px; }

.best-center {
  width: 319px;
  height: 180px;
  background: #f8f8f8;
  border-radius: 6px;
  margin-left: 15px; }
  .best-center img {
    width: 223px;
    height: 133px;
    display: block;
    float: left;
    margin: 13px 10px 10px 13px; }
  .best-center a {
    width: 60px;
    height: 37px;
    display: block;
    float: left;
    background: url("../img/japanesegirl.png");
    margin-top: 12px; }
  .best-center span {
    width: 80px;
    height: 15px;
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 12px; }

.best-ul {
  width: 295px;
  height: 217px;
  margin-top: 23px;
  margin-left: 24px;
  overflow: hidden; }
  .best-ul li {
    width: 295px;
    height: 12px;
    margin-bottom: 16px; }
    .best-ul li em {
      width: 13px;
      height: 11px;
      display: block;
      float: left;
      background: url("../img/icon1-main.png"); }
    .best-ul li strong {
      width: 13px;
      height: 11px;
      display: block;
      float: left;
      background: url("../img/icon2-main.png"); }
    .best-ul li i {
      width: 1px;
      height: 12px;
      display: block;
      float: left;
      margin: 0 6px 0 9px;
      background: #dfdfdf; }
    .best-ul li span {
      width: 200px;
      height: 12px;
      display: block;
      float: left;
      font-size: 13px;
      line-height: 13px;
      color: #454545; }
    .best-ul li b {
      width: 55px;
      height: 13px;
      display: block;
      line-height: 13px;
      float: right;
      font-size: 12px;
      color: #999; }

/*new-right end*/
/*new end*/
/*map begin*/
.map {
  width: 710px;
  height: 330px;
  overflow: hidden; }

.map1 {
  width: 348px;
  height: 327px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px; }

/*subway begin*/
.subway {
  float: left; }
  .subway img {
    width: 348px;
    height: 193px;
    display: block; }
  .subway em {
    width: 349px;
    height: 27px;
    display: block;
    background: url("../img/12345_03.png");
    margin-top: 10px; }

/*subway end*/
/*bbs begin*/
.bbs {
  float: right; }

.bbs-bottom {
  margin-left: 15px; }
  .bbs-bottom li:first-child p {
    display: none; }
  .bbs-bottom li:first-child div {
    display: block; }
  .bbs-bottom li {
    margin-bottom: 1px; }
    .bbs-bottom li p {
      width: 318px;
      height: 29px;
      background: #f1f1f1;
      border-radius: 6px; }
      .bbs-bottom li p b {
        display: block;
        float: left;
        height: 29px;
        font-size: 12px;
        line-height: 29px;
        color: #d80000;
        margin: 0 20px; }
      .bbs-bottom li p span {
        width: 134px;
        height: 29px;
        float: left;
        line-height: 29px;
        display: block;
        font-size: 12px;
        color: #000; }
      .bbs-bottom li p em {
        width: 55px;
        height: 29px;
        line-height: 29px;
        display: block;
        float: right;
        margin-right: 20px;
        font-size: 12px;
        color: #666;
        font-style: normal; }
    .bbs-bottom li div {
      width: 318px;
      height: 69px;
      background: #e21c01;
      border-radius: 6px;
      position: relative;
      display: none; }
      .bbs-bottom li div img {
        width: 50px;
        height: 49px;
        display: block;
        float: left;
        padding: 10px; }
      .bbs-bottom li div span {
        width: 180px;
        height: 40px;
        line-height: 41px;
        display: block;
        float: left;
        font-size: 14px;
        color: white; }
      .bbs-bottom li div em {
        width: 100px;
        height: 11px;
        display: block;
        float: left;
        font-size: 12px;
        color: white;
        font-style: normal; }
      .bbs-bottom li div h3 {
        width: 70px;
        height: 20px;
        position: absolute;
        font-size: 20px;
        color: white;
        bottom: 0;
        left: 266px; }

/*bbs end*/
/*map end*/
/*adyice begin*/
.adyice {
  width: 710px;
  height: 300px; }

.adyice1 {
  width: 348px;
  height: 298px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px; }

/*adyice-left begin*/
.adyice-left {
  float: left; }

.adyice-top {
  width: 309px;
  height: 25px;
  margin-left: 15px;
  border-bottom: 1px #e5e5e5 solid;
  padding-left: 9px; }
  .adyice-top a:first-child {
    color: #454545;
    background: white;
    border-bottom-color: white; }
    .adyice-top a:first-child em {
      border-top-color: #ca0309; }
  .adyice-top a {
    width: 98px;
    height: 24px;
    display: block;
    line-height: 24px;
    float: left;
    border: 1px #e5e5e5 solid;
    border-radius: 6px 6px 0 0;
    font-size: 12px;
    color: #666;
    text-indent: 24px;
    margin-left: -1px;
    position: relative;
    background: -webkit-linear-gradient(#f3f3f3, #fefefe, #ffffff); }
    .adyice-top a em {
      width: 0;
      height: 0;
      display: block;
      border: 4px #c4bebe solid;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      position: absolute;
      top: 10px;
      right: 12px; }
    .adyice-top a:hover {
      color: #454545;
      border-bottom-color: white;
      background: white; }
      .adyice-top a:hover em {
        border-top-color: #ca0309; }

.adyice-p {
  width: 314px;
  height: 26px;
  border-bottom: 1px #999  dotted;
  margin-top: 5px;
  margin-left: 17px; }
  .adyice-p span {
    display: block;
    float: left;
    line-height: 26px;
    font-size: 12px;
    color: #999;
    padding-left: 112px; }
  .adyice-p b {
    display: block;
    float: right;
    line-height: 26px;
    font-size: 12px;
    color: #999;
    padding-right: 15px; }

.adyice-ul {
  width: 313px;
  height: 140px;
  margin-left: 17px; }
  .adyice-ul b {
    width: 10px;
    height: 9px;
    display: block;
    float: right;
    background: url("../img/icon-bingo.png");
    margin: 9px 20px 0 0; }
  .adyice-ul strong {
    width: 10px;
    height: 10px;
    display: block;
    float: right;
    background: url("../img/icon-flag.png");
    margin: 9px 20px 0 0; }

.adyice-form {
  display: block;
  height: 24px;
  line-height: 24px;
  color: #595959;
  font-size: 12px;
  margin-top: 17px;
  margin-left: 27px;
  background: url("../img/go.png") no-repeat 270px 0; }

/*adyice-left end*/
/*adyice-right begin*/
.adyice-right {
  float: right; }
  .adyice-right ul {
    width: 320px;
    height: 244px;
    margin-left: 15px;
    margin-bottom: 5px; }
    .adyice-right ul li span {
      width: 78px;
      height: 78px;
      display: block;
      float: left;
      margin-left: 2px;
      margin-bottom: 2px; }
      .adyice-right ul li span img {
        width: 78px;
        height: 78px;
        display: block; }
      .adyice-right ul li span a {
        display: none;
        width: 78px;
        height: 78px;
        background: url("../img/111111_03.png"); }
      .adyice-right ul li span:hover img {
        display: none; }
      .adyice-right ul li span:hover a {
        display: block; }

/*dayice-right end*/
/*adyice end*/
/*help begin*/
.help {
  width: 710px;
  height: 250px;
  background: white;
  margin-top: 10px; }

.help1 {
  width: 348px;
  height: 248px;
  border: 1px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px; }

/*help end*/
/*help-left begin*/
.help-left {
  float: left; }

.help-left-p {
  margin-top: 10px;
  margin-left: 18px;
  width: 320px;
  height: 95px;
  border-bottom: 1px #e5e5e5 solid;
  overflow: hidden; }
  .help-left-p span {
    display: block;
    font-size: 12px;
    color: #000;
    line-height: 18px;
    text-indent: 2em;
    float: left; }
  .help-left-p b {
    display: block;
    width: 125px;
    height: 20px;
    margin-top: 11px;
    float: left;
    text-indent: 22px;
    font-size: 14px;
    color: #b80000;
    background: url("../img/icon-tel.png") no-repeat; }
  .help-left-p em {
    display: block;
    float: left;
    margin-top: 11px;
    width: 130px;
    height: 17px;
    font-size: 12px;
    text-indent: 24px;
    margin-left: 40px;
    font-style: normal;
    color: #010000;
    background: url("../img/icon-people.png") no-repeat; }

.help-left-ul {
  width: 120px;
  height: 80px;
  margin-top: 20px;
  overflow: hidden; }
  .help-left-ul li {
    height: 18px; }
    .help-left-ul li b {
      font-size: 12px;
      color: #292929; }
    .help-left-ul li em {
      width: 3px;
      height: 3px;
      display: block;
      background: #e21c01;
      margin-top: 10px;
      float: left; }
    .help-left-ul li span {
      display: block;
      float: left;
      font-size: 12px;
      color: #292929; }

.ul1 {
  float: left;
  margin-left: 23px; }

.ul2 {
  float: right;
  margin-right: 40px; }

/* help-left end*/
/*help-right begin*/
.help-right {
  float: right; }
  .help-right p {
    width: 310px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 15px; }
    .help-right p img {
      display: block;
      float: left;
      margin-right: 10px; }
    .help-right p b {
      display: block;
      line-height: 15px;
      font-weight: normal;
      width: 210px;
      font-size: 12px;
      float: left; }

/*help-right end*/
/*wrapper-left end*/
/*load begin*/
.load {
  width: 238px;
  height: 140px;
  float: right;
  border: 1px #e5e5e5 solid;
  border-radius: 6px;
  margin-bottom: 10px; }

.load-top {
  width: 238px;
  height: 34px;
  border-bottom: 1px #e5e5e5 solid;
  background: -webkit-linear-gradient(#ffffff, #fafafa, #f3f3f3);
  border-radius: 6px 6px 0 0; }

.load-form {
  width: 220px;
  height: 50px;
  display: block;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 20px;
  position: relative; }
  .load-form a {
    width: 57px;
    height: 26px;
    display: block;
    position: absolute;
    background: url("../img/login.png");
    bottom: -5px;
    right: 22px; }

.load-input {
  width: 85px;
  height: 20px;
  margin: 0 0 5px 0; }

.load-p {
  width: 220px;
  height: 27px;
  border-top: 1px #e5e5e5 solid;
  margin-top: 10px;
  margin-left: 12px; }
  .load-p i {
    width: 70px;
    height: 12px;
    display: block;
    float: left;
    font-style: normal;
    margin: 10px 18px 0 18px; }
    .load-p i em {
      width: 2px;
      height: 3px;
      display: block;
      float: left;
      background: #e21c01;
      margin: 5px 5px 0 0; }
    .load-p i span {
      display: block;
      width: 60px;
      height: 12px;
      font-size: 12px;
      color: #010000;
      float: left; }

/*load end*/
.go {
  width: 238px;
  height: 90px;
  float: right;
  border: 1px #e5e5e5 solid;
  border-radius: 9px;
  background: url("../img/turntable.png");
  margin-bottom: 10px; }

.wid {
  width: 240px;
  height: 180px;
  float: right;
  border-radius: 9px;
  background: url("../img/notebook.png");
  margin-bottom: 10px; }

/*coupons begin*/
.coupons {
  width: 238px;
  height: 238px;
  float: right;
  border: 1px #e5e5e5 solid;
  border-radius: 6px;
  margin-bottom: 10px; }

.coupons-p {
  width: 214px;
  height: 23px;
  margin-left: 12px;
  border-bottom: 1px #e5e5e5 solid; }
  .coupons-p a:first-child {
    margin-left: 6px;
    border-bottom-color: white; }
    .coupons-p a:first-child em {
      border-top-color: #e21c01; }
  .coupons-p a {
    width: 66px;
    height: 22px;
    display: block;
    float: left;
    border: 1px #e5e5e5 solid;
    border-radius: 6px 6px 0 0; }
    .coupons-p a span {
      width: 28px;
      height: 22px;
      display: block;
      float: left;
      margin-left: 17px;
      line-height: 22px;
      margin-left: 17px;
      font-size: 12px;
      color: #010000; }
    .coupons-p a em {
      display: block;
      width: 0;
      height: 0;
      float: right;
      border: 4px white solid;
      border-top-color: #9c9c9c;
      margin-top: 8px;
      margin-right: 10px; }
    .coupons-p a:hover {
      border-bottom-color: white; }
      .coupons-p a:hover em {
        border-top-color: #e21c01; }

.coupons-top {
  width: 214px;
  height: 30px;
  margin: auto;
  border-bottom: 1px #e5e5e5 dotted; }
  .coupons-top span:first-child {
    margin-left: 45px; }
  .coupons-top span:nth-child(2) {
    margin-left: 63px; }
  .coupons-top span:last-child {
    float: right;
    margin-right: 12px; }
  .coupons-top span {
    display: block;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    color: #9c9c9c; }

.coupons-ul {
  width: 214px;
  height: 140px;
  margin-left: 12px; }
  .coupons-ul li a {
    margin-left: 5px; }
  .coupons-ul li:last-child {
    border-bottom: 0; }

.coupons-b {
  font-size: 12px;
  color: #e21c01;
  margin-left: 33px;
  font-weight: normal; }

.coupons-span {
  font-size: 12px;
  color: #e5e5e5; }

/*coupons end*/
/*shop-right begin*/
.shop-right {
  width: 238px;
  height: 418px;
  border: 1px #e5e5e5 solid;
  float: right;
  border-radius: 6px;
  margin-bottom: 10px; }
  .shop-right div:first-child {
    margin-top: 10px; }

.shop-bottom {
  width: 214px;
  height: 83px;
  border-bottom: 1px #e5e5e5 solid;
  margin-left: 12px; }
  .shop-bottom i {
    display: block;
    float: left;
    width: 90px;
    height: 67px;
    margin-right: 12px;
    background: url("../img/duckleg.png");
    position: relative; }
    .shop-bottom i em {
      width: 42px;
      height: 43px;
      display: block;
      position: absolute;
      bottom: -10px;
      right: -10px;
      background: url("../img/save.png"); }
  .shop-bottom p {
    width: 100px;
    height: 27px;
    float: left;
    line-height: 27px;
    font-size: 12px;
    color: #e21c01; }
  .shop-bottom span {
    width: 110px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #666666;
    float: left; }

/*shop-right end*/
/*shop360 begin*/
.shop360 {
  width: 238px;
  height: 178px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px;
  float: right;
  margin-bottom: 10px; }
  .shop360 img {
    display: block;
    margin: 10px auto; }
  .shop360 p {
    width: 214px;
    height: 12px;
    font-size: 12px;
    color: #2b2d2d;
    margin-left: 12px; }

/*shop360 end*/
/*shop1 begin*/
.shop1 {
  width: 238px;
  height: 347px;
  border: 1px #e5e5e5 solid;
  border-radius: 6px;
  float: right;
  margin-bottom: 8px; }
  .shop1 ul {
    width: 214px;
    height: 223px;
    margin-left: 14px; }

/*shop1 end*/
/*shop2 begin*/
.shop2 {
  width: 238px;
  height: 368px;
  border: 1px #e5e5e5 solid;
  float: right;
  border-radius: 6px; }

.shop2-top {
  width: 100px;
  height: 131px;
  float: left;
  margin-left: 14px;
  overflow: hidden; }
  .shop2-top img {
    display: block; }
  .shop2-top p {
    height: 26px;
    font-size: 12px;
    color: #e21c01; }
  .shop2-top span {
    display: block;
    font-size: 12px;
    height: 13px;
    line-height: 13px; }

.shop2-ul {
  width: 214px;
  height: 174px;
  margin-left: 12px; }
  .shop2-ul li:last-child {
    border-bottom: 0; }

/*shop2 end*/
.bottom {
  width: 958px;
  height: 78px;
  border: 1px #e5e5e5 solid;
  margin-top: 10px;
  border-radius: 6px;
  text-align: center; }
  .bottom p {
    font-size: 12px;
    color: #010000;
    margin-top: 20px;
    margin-bottom: 9px; }
  .bottom span {
    display: block;
    font-size: 12px;
    color: #9c9c9c; }

/*# sourceMappingURL=100c.css.map */
